DB_DIALECT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

END_HOST=

APP_VTEX_ACCOUNT_NAME=
APP_VTEX_ENVIRONMENT=
APP_VTEX_APPKEY=
APP_VTEX_APPTOKEN=

APP_PIPEDRIVE = '381e5a8e1e4bb7546f04a8cce490e877e1acf57f'
